<style>
.groups-list
{
	min-height: 300px;
}
</style>

<h1>Edit Group</h1>
<div class="row">
	<div class="col s4">
		<h5>Group Data</h5>
		<form name="groupForm" class="form-create-group" ng-submit="save()">
			<div class="text-danger form-error" data-ng-show="error">{{ error }}</div>
			
			<div class="help-block" ng-messages="groupForm.label.$error" ng-if="groupForm.label.$touched">
				<div ng-messages-include="pages/partials/messages.html"></div>
			</div>
			Label:
			<input
				type="text"
				name="label"
				ng-model="group.label"
				placeholder="Label"
				ng-minlength="3"
				ng-maxlength="20"
				required
			>
			
			<button
				type="submit"
				class="btn btn-lg btn-primary btn-block" 
				ng-disabled="groupForm.$invalid"
			>
				Save
			</button>
		</form>
	</div>
	<div class="col s4">
		<h5>Group permissions</h5>
		<ul id="groupPerms" class="dragg-connected groups-list">
			<li class="card-panel teal lighten-2 list-item" ng-repeat="permission in group.permissions" ng-value="{{ permission.id }}">
				{{ permission.label }}
			</li>
		</ul>
	</div>
	<div class="col s4">
		<h5>Permissions list</h5>
		<ul id="listPerms" class="dragg-connected groups-list">
			<li class="card-panel teal lighten-2 perm-dragg list-item" ng-repeat="resource in resources" ng-value="{{ resource.id }}">
				{{ resource.label }}
			</li>
		</ul>
	</div>
</div>
