<form ng-submit="save()">
	<table class="table">
		<thead>
			<tr>
				<th colspan="2"><h1>Edit group</h1></th>
			</tr>
		</thead>
		<tr>
			<td>id</td>
			<td>{{ group.id }}</td>
		</tr>
		<tr>
			<td>Name</td>
			<td><input type="text" ng-model="groupName" class="form-control" required="string"></td>
		</tr>
		<tr>
			<td>Label</td>
			<td><input type="text" ng-model="groupLabel" class="form-control"></td>
		</tr>
		<tr>
			<td>Creation date</td>
			<td>{{ group.created_at | date:"MM/dd/yyyy 'at' h:mma" }}</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
			</td>
		</tr>
	</table>
</form>