<style>
.groups-list
{
	min-height: 300px;
}
</style>

<h1>Edit Group</h1>
<div class="row">
	<div class="col s4">
		<h5>Group Data</h5>
		<form class="form-create-group" ng-submit="create()">
			<div class="text-danger form-error" data-ng-show="error">{{ error }}</div>
			Name:
			<input type="text" ng-model="group.name" class="form-control" placeholder="Name" required>
			Label:
			<input type="email" ng-model="group.label" class="form-control" placeholder="Label" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
		</form>
	</div>
	<div class="col s4">
		<h5>Group permissions</h5>
		<ul id="groupPerms" class="dragg-connected groups-list">
			<li class="card-panel teal lighten-2 list-item" ng-repeat="perm in basicperm" ng-value="{{ perm.id }}">
				{{ perm.label }}
			</li>
		</ul>
	</div>
	<div class="col s4">
		<h5>Permissions list</h5>
		<ul id="listPerms" class="dragg-connected groups-list">
			<li class="card-panel teal lighten-2 perm-dragg list-item" ng-repeat="group in groups" ng-value="{{ group.id }}">
				{{ group.label }}
			</li>
			<li class="card-panel teal lighten-2 perm-dragg list-item" ng-repeat="permission in permissions" ng-value="{{ permission.id }}">
				{{ permission.label }}
			</li>
		</ul>
	</div>
</div>
