<table class="table">
	<thead>
		<tr>
			<th><h1>View group</h1></th>
			<th></th>
		</tr>
	</thead>
	<tr>
		<td>id</td>
		<td>{{ group.id }}</td>
	</tr>
	<tr>
		<td>Name</td>
		<td>{{ group.name }}</td>
	</tr>
	<tr>
		<td>Label</td>
		<td>{{ group.label }}</td>
	</tr>
	<tr>
		<td>Creation date</td>
		<td>{{ group.created_at | date:"MM/dd/yyyy 'at' h:mma" }}</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<a class="btn btn-default" ng-click="edit(group.id)" role="button">Edit</a>
			<a class="btn btn-danger" ng-click="delete(group.id)" role="button">Delete</a>
		</td>
	</tr>
</table>