<h1>{{ station.name }}</h1>

<div class="row">
	<a id="maya-switch" class="btn btn-default" ng-click="setStationToChangeStatus($event, station.id)">
		<i class="fa fa-power-off"></i>&nbsp;{{ btnAlarmLabel }}
	</a>
	<a id="electra-switch" class="btn btn-default" ng-click="setStationToChangeStatus($event, station.id)">
		<i class="fa fa-power-off"></i>&nbsp;{{ btnAlarmLabel }}
	</a>
	<br><br>
	<a id="hestia-switch" class="btn btn-default" ng-click="setStationToChangeStatus($event, station.id)">
		<i class="fa fa-power-off"></i>&nbsp;{{ btnAlarmLabel }}
	</a>
	<a id="aretusa-switch" class="btn btn-default" ng-click="setStationToChangeStatus($event, station.id)">
		<i class="fa fa-power-off"></i>&nbsp;{{ btnAlarmLabel }}
	</a>
</div>

<div class="row">
	<table class="bordered highlight responsive-table">
	    <thead>
	    	<tr>
		    	<th>ID</th>
		    	<th>Name</th>
		    	<th>Station</th>
		    	<th>Created</th>
	    	</tr>
	    </thead>
	    <tbody>
	    	<tr ng-repeat="stationAlarm in stationAlarms track by $index" id="row-{{ stationAlarm.id }}">
	    		<td>{{ stationAlarm.id }}</td>
	    		<td>{{ stationAlarm.alarm_type.label }}</td>
	    		<td>{{ stationAlarm.station.name }}</td>
	    		<td>{{ stationAlarm.created_at | date:"MM/dd/yyyy 'at' h:mma" }}</td>
	    	</tr>
	    </tbody>
	</table>
</div>
<div class="row">
	<pagination
		page="paginator.current_page"
		page-size="10"
		total="paginator.total_count"
		show-prev-next="true"
		dots="..."
		hide-if-empty="false"
		adjacent="2"
		scroll-top="false"
		pagination-action="changePage(page)" 
	/>
</div>

<!-- Modal Structure -->
<div id="deactivate-modal" class="modal">
    <div class="modal-content">
		<h4>Deactivate alarm</h4>
		<p>Enter the minutes to turn on alarm</p>
		<input type="text" maxlength="4"></input>
    </div>
    <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="method($event)">Turn Off</a>
            <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat" ng-click="closeModal($event)">Cancel</a>
	</div>
</div>