<h1>{{ station.name }}</h1>

<div class="new-btn-div">
	<a class="btn btn-default" ng-click="report(station.id)" role="button">
		<i class="fa fa-bar-chart"></i>&nbsp;Report
	</a>
</div>

<h4>Caracteristicas Generales</h4>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Latitud</td>
				<td>25.751</td>
			</tr>
			<tr>
				<td>Longitud</td>
				<td>25.751</td>
			</tr>
			<tr>
				<td>Bomba</td>
				<td>Danfus</td>
			</tr>
			<tr>
				<td>Descripci&oacute;n</td>
				<td>Loren Ipsum...</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Dynamic Level</th>
				<th>Voltage</th>
				<th>Current</th>
				<th>Power</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody ng-repeat="read in station.reads track by $index | orderBy:'-id'" id="row-{{ $index }}">
			<tr>
				<td>{{ read.id }}</td>
				<td>{{ read.dynamic_level }} m</td>
				<td>{{ read.voltage }} V</td>
				<td>{{ read.current }} A</td>
				<td>{{ read.power }} HP</td>
				<td>{{ read.created_at | date:"MM/dd/yyyy 'at' h:mma" }}</td>
			</tr>
		</tbody>
	</table>
</div>