<h1>Edit Sensor</h1>

<div class="row">
	<div class="col s6">
		<form class="form-sensor-user" ng-submit="save()">
			<div class="text-danger form-error" data-ng-show="error">{{ error }}</div>

			<div class="input-field">
				<input id="label" type="text" ng-model="sensor.label">
				<label for="label">Label</label>
			</div>

			<div class="input-field">
				<textarea id="notification-emails" ng-model="sensor.notification_emails" class="materialize-textarea">
				</textarea>
				<label for="notification-emails">Emails to notify</label>
			</div>

			<div class="input-field">
				<input id="notification-subject" type="text" ng-model="sensor.notification_subject">
				<label for="notification-subject">Email subject</label>
			</div>
			
			<div class="input-field">
				<textarea id="notification-text" ng-model="sensor.notification_text" class="materialize-textarea">
				</textarea>
				<label for="notification-text">Email body</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
		</form>
	</div>
</div>


