<style>
	.b-color{
		color:#777;
		min-height: 50px;
	}
	.list-group-item{
		height: 40px;
	}
</style>

<div class="row card">
	<div class="col-md-4">
		<h3>User Data</h3>
		<form class="form-edit-user" ng-submit="save()">
			<div class="text-danger form-error" data-ng-show="error">{{ error }}</div>
			<input type="hidden" ng-model="user.id">
			Name:
			<input type="text" ng-model="user.name" class="form-control" placeholder="Name" required>
			Email:
			<input type="email" ng-model="user.email" class="form-control" placeholder="Email address" required autofocus>

			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Save</button>
		</form><!-- /form -->
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<h2>User Groups</h2>
			<ul id="userGroups" class="list-group b-color  dragg-connected">
				<li class="list-group-item" ng-repeat="group in user.groups" ng-value="{{ group.id }}">{{ group.label }}</li>
			</ul>
		</div>

	</div>
	<div class="col-md-4">
		<h2>Available groups</h2>
		<ul id="availableGroups" class="list-group b-color dragg-connected">
			<li class="list-group-item perm-dragg" ng-repeat="group in groups" ng-value="{{ group.id }}">{{ group.label }}</li>
		</ul>
	</div>
</div>
