<h1>Users</h1>
<a class="btn btn-default" ng-click="new()" role="button">New</a>
<div class="table-responsive">
	<table class="table">
	    <thead>
	    	<tr>
		    	<th>ID</th>
		    	<th>Name</th>
		    	<th>Created</th>
		    	<th>Actions</th>
	    	</tr>
	    </thead>
	    <tbody>
	    	<tr ng-repeat="user in users">
	    		<td>{{ user.id }}</td>
	    		<td>{{ user.name }}</td>
	    		<td>{{ user.created_at | date:"MM/dd/yyyy 'at' h:mma" }}</td>
	    		<td>
	    			<a class="btn btn-default" ng-click="view(user.id)" role="button">View</a>
	    			<a class="btn btn-default" ng-click="edit(user.id)" role="button">Edit</a>
	    			<a class="btn btn-danger" ng-click="delete(user.id)" role="button">Delete</a>
	    		</td>
	    	</tr>
	    </tbody>
	</table>
</div>