<form ng-submit="signin()">
    
    <div class="row">
        <div class="card red darken-3" data-ng-show="error">
            <div class="card-content white-text">
              <span class="card-title">Error</span>
              <p>{{ error }}</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="input-field col s12">
            <label for="email">Email</label>
            <input id="email" type="email" class="validate" ng-model="email">
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <label for="password">Password</label>
            <input id="password" type="password" class="validate" ng-model="password">
        </div>
    </div>
    
    <div class="row">
        <button class="btn waves-effect waves-light right teal darken-3" type="submit" name="action">Sign In
            <i class="material-icons right">forward</i>
        </button>
    </div>
</form>
